.footer {
  padding: 11.25rem 0;
}

.title-footer {
  font-size: 72px;
  @media (max-width: 991px) {
    font-size: 48px;
  }
  padding-bottom: 2rem;
}

.button-footer {
  width: 100%;
  max-width: 388px;
  background-color: $color-primario;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  transition: all 0.1s ease-in;
  @media (max-width: 991px) {
    font-size: 1rem;
  }
}

.button-footer-hover {
  transition: all 1s ease;
  &:hover {
    background-color: $color-primario-dark;
    color: $color-blanco;
  }
}

.button-footer-pressed {
  width: 100%;
  max-width: 388px;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color: $color-blanco;
  color: $color-negro;
  transition: all 1s ease;
  &:hover {
    color: $color-negro;
  }
  @media (max-width: 991px) {
    font-size: 1rem;
  }
}

.redes {
  li {
    a {
      padding: 0 1.5rem;
      font-size: 1.25rem;
      &::after {
        content: "";
        display: block;
        margin: 0.5rem auto;
        height: 6px;
        width: 40px;
        opacity: 0;
        background: $color-primario;
        border-radius: 4px;
        transition: all 0.25s linear;
      }
      &:hover {
        color: $color-blanco;
      }
      &:hover::after {
        opacity: 1;
      }
      @media (max-width: 991px) {
        padding: 0 1rem;
      }
    }
  }
}
