.navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio {
  background-color: $color-negro;
  padding: 1.5rem 2rem;
  @media (max-width: 991px) {
    padding: 0.75rem;
  }
}

.navbar-name {
  p:first-child {
    font-size: 1.15rem;
  }
  p:nth-child(2) {
    font-size: 0.9rem;
    span {
      color: $color-primario;
    }
  }
}

.nav-item {
  padding: 0 0.5rem;
}

.contact-me {
  border-radius: 40px;
  &:hover {
    background-color: $color-primario;
  }
}
