.container-proyectos {
  padding: 6rem 0;
  @media (max-width: 991px) {
    padding: 3rem 0;
  }
  .col-lg-12 {
    img {
      top: 10%;
      @media (max-width: 991px) {
        top: 7%;
      }
    }
    h2 {
      font-size: 4rem;
      padding: 1rem 0;
      @media (min-width: 991px) {
        font-size: 8rem;
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
  .col-lg-6 {
    h3 {
      font-size: 4rem;
      padding: 1rem 0;
      @media (min-width: 991px) {
        font-size: 5rem;
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.button-view-proyect {
  background-color: $color-primario;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
