$font-proyect: "DM Sans", sans-serif;

// Colores:

$color-negro: #151517;
$color-blanco: #ffffff;
$color-primario: #6032bd;
$color-primario-dark: #5628B3;
$color-gris-oscuro: #21211f;
$color-gris-oscuro-alt: #212222;

h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
p,
input,
button {
  font-family: $font-proyect;
  margin: 0;
  color: $color-blanco;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-blanco;
}

li {
  list-style: none;
}

ul,
ol,
dl {
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-negro;
}

.vh-100-mobile {
  @media (max-width: 991px) {
    height: 100vh;
  }
}
